body {
  box-sizing: border-box;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to right bottom, #00180c, #013d1a);

}



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form__container {
    width: 25rem;
    height: 12rem;
    border-radius: 0.8rem;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    padding: 2rem;
    text-align: center;
    color: #7962e7; }
    .form__container h1 {
      margin-bottom: 1rem; }
    .form__container button {
      margin-top: 1rem; }

.input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 3px solid transparent;
  outline: none;
  padding: 0.5rem; }
  .input:focus {
    border-bottom: 3px solid #7962e7; }

.btn-1 {
  width: 6rem;
  height: 2rem;
  background: linear-gradient(to right bottom, #7962e7, #8c73ec);
  border: none;
  color: #e7e5e5;
  border-radius: 0.2rem;
  cursor: pointer; }

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; 
   }
  .game__title {
    width: 80%;
    height: 3rem;
    background: linear-gradient(to right bottom, #1f791c, #b1ed97);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    color: white; }
  .home__game-details {
    margin-top: 1rem;
    width: 80%;
    height: 6rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 0.5rem;
    color: #7962e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    .home__game-details__user {
      width: 20%; }
  .home__questions-outer {
    width: 80%;
    height: 20rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7962e7; }
    .home__questions-outer i {
      font-size: 1.5rem; }
    .home__questions-outer input {
      width: 5rem;
      height: 1.5rem;
      border: none;
      outline: none;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 0.2rem; }
    .home__questions-outer input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .home__questions-outer img {
      width: 2rem;
      height: 2rem; }
  .home__questions-single {
    width: 10%;
    height: 10rem;
    background: linear-gradient(to right bottom, #7962e7, #8c73ec);
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    color: white; }
  .home__questions-ans {
    width: 20%; }

.bigger {
  width: 10.5rem !important;
  height: 10.5rem !important;
  background: linear-gradient(to right bottom, #1f791c, #b1ed97) }

.row {
  width: 100%;
  display: flex;
  align-items: center; }

.line {
  width: 60%;
  height: 1px;
  background-color: white; }

.answer-container {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .answer-container img {
    margin-left: -1.6rem; }

  .hi__score{
    color: white;
    justify-content: right;
    text-align: center;
    }
