.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  // justify-content: center;
  align-items: center;
  &__heading {
    width: 80%;
    // height: 20%;
    height: 3rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    color: $theme-primary-1;
  }
  &__game-details {
    margin-top: 1rem;
    width: 80%;
    height: 6rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 0.5rem;
    color: $theme-primary-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    &__user {
      width: 20%;
    }
  }

  &__questions-outer {
    width: 80%;
    height: 20rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $theme-primary-1;
    i {
      font-size: 1.5rem;
    }
    input {
      width: 5rem;
      height: 1.5rem;
      border: none;
      outline: none;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
    }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  &__questions-single {
    width: 15%;
    height: 10rem;
    background: linear-gradient(
      to right bottom,
      $theme-primary-1,
      $theme-primary-2
    );
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 2rem;
    justify-content: center;

    color: white;
  }
  &__questions-ans {
    width: 20%;
  }
}

.bigger {
  width: 12.5rem !important;
  height: 12.5rem !important;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  width: 60%;
  height: 1px;
  background-color: white;
}

.answer-container {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-left: -1.6rem;
  }
}
